body{padding-top:0}
.newlist li a,
.toplist li,
.toptitle,
.hot-list li a,
.bottom-img p{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.thumbnail:hover{
	border-color:#428bca;
}
.thumbnail{
	box-shadow:0 3px 5px -5px #000;
}
/*nav*/
img.logo {
    max-height: 50px;
}
.navbar-brand{
	padding:0 15px;
}
.navbar{margin-bottom:0}
/*jumbotron*/
.jumbotron{
	padding-top:51px;
	padding-bottom:0;
	overflow:hidden;
	margin-bottom:15px;
}
@media (min-width: 749px) {
	.jumbotron{height:320px;}
}
.jumbotron .container,
.post-box{
	height:100%;
}
/*top cate*/
.cateName{
	padding-bottom:5px;
	border-bottom:2px solid #428bca;
	font-weight:700;
}
.first-cate>h4>i,
.first-cate h5>i,
.cateName i{
	font-size:90%;
}
.first-cate ul{
	padding-left:0;
}
.first-cate ul li{
	line-height:2em;
	list-style-type:none;
}
@media (min-width:991px) {
	.first-cate-nav{padding-top:5px;}
}
@media(min-width:749px){
	.first-cate .newlistbox{border-left:1px dashed #dedede}
}
.toplist i{color:#ccc}
.media-box{
	width:120px;
	height:107px;
}
.topIMG-box{
	box-shadow: 0px 3px 6px -3px #000;
	border-radius: 16px 0;
	overflow:hidden;
}
.topIMG-box img:hover{
	transform:scale(1.08,1.08);
}
.toptitle{
	font-weight:700;
	max-width:201px;
}
.rightimg{
	height:170px;
	overflow: hidden;
	transition:all 0.2s ease-in-out;
}
.rightimg:hover{
	transform:scale(1.04,1.04);
	transition:all 0.2s ease-in-out;
}
.newlist li a{
	display:block;
	margin-left:2px;
	color:#555;
}
.newlist li a::before{
	position:relative;
	margin-bottom:2px;
	margin-right:8px;
	content: '';
	width:8px;
	height:8px;
	display:inline-block;
	border-radius:50% 50% 0;
	box-shadow:0 1px 2px #757575;
	text-decoration: none;
}
.newlist li:nth-child(n) a::before{
	border:1px solid #fd5f00;
}
.newlist li:nth-child(n) a:hover{
	color:#fd5f00;
}
.newlist li:nth-child(2n) a::before{
	border:1px solid #00a635;
}
.newlist li:nth-child(2n) a:hover{
	color:#00a635;
}
.newlist li:nth-child(3n) a::before{
	border:1px solid #b92400;
}
.newlist li:nth-child(3n) a:hover{
	color:#b92400;
}
.newlist li:nth-child(4n) a::before{
	border:1px solid #00a9da;
}
.newlist li:nth-child(4n) a:hover{
	color:#00a9da;
}
.time{
	font-size:90%;
	color:#999;
	padding-left:.5em;
}
.more{
	margin: 10px;
	padding-bottom:3px;
}
/*second-cate*/
#second{margin-bottom:10px}
.second-cate{
	padding:5px;
}
.second-cate .img-cover{
	height: 160px;
	margin-bottom:10px;
}
.secondtitle{
	font-weight:700;
	color:#555; 
}
.secondtitle:hover,
.secondtitle:focus{
	color:#428bca;
	text-decoration:none;
}
.avatar-img{
	border-radius:20%;
	transition:all 0.2s ease-in-out;
	margin-bottom:5px;
}
@media (max-width:748px) {
	.avatar-img{height:110px;}
}
.avatar-img:hover{
	border-radius:50%;
	transition:all 0.2s ease-in-out;
}
.hot-list{
	line-height:2.3;
	font-size:16px;
}
.hot-list li a{
	display:block;
	color:#555;
}
.hot-list li{
	color:#555;
}
.hot-list li a:hover,
.hot-list li a:focus{
	color:#428bca;
	text-decoration:none;
}
.hot-list li:nth-child(1),
.hot-list li:nth-child(1) a:hover,
.hot-list li:nth-child(1) a:focus{
	color:#b92400;
	text-decoration:none;
}
.hot-list li:nth-child(2),
.hot-list li:nth-child(3),
.hot-list li:nth-child(2) a:hover,
.hot-list li:nth-child(3) a:hover,
.hot-list li:nth-child(2) a:focus,
.hot-list li:nth-child(3) a:focus{
	color:#fd5f00;
	text-decoration:none;
}
.hot-list li span{
	color:#999;
	font-size:90%;
	padding-left:.5em;
}
/*three-cate*/
#three,
#four{
	padding-left:45px;
	padding-right:30px;
	margin-bottom: 15px;
}
@media(min-width:749px){
	.bottom-left-img{height:300px;}
}
.bottom-img{
	padding-left:5px;
	padding-right:5px;
}
.bottom-img img{
	border:1px solid #ddd;
	border-bottom:none;
	border-radius:4px 4px 0 0;
	height:115px;
}
.bottom-img p{
	border:1px solid #ddd;
	border-top: none;
	background: #fff;
	padding:5px;
	border-radius:0 0 4px 4px;
	color: #555;
}
.bottom-img:hover p{
	background:#428bca;
	color:#fff;
	border-color: #428bca;
	box-shadow:0 3px 5px -5px #000;
}
.bottom-img:hover img{
	border-color: #428bca;
}
.bottom-img:hover a{
	text-decoration:none;
}
.bottom-img:hover img,
.bottom-img img,
.bottom-img:hover p,
.bottom-img p{
	transition:all 0.2s ease-in-out;
}
@media (max-width: 748px) {
	.container{
		padding-left:0;
		padding-right:0;
	}
	.col-sm-12 .col-sm-12{
		padding-left:0;
		padding-right:0;
	}
	#three,
	#four{
		padding-right: 15px;
		padding-left: 15px;
	}
}
/*four*/
#four .col-md-3{
	padding-left:5px;
	padding-right:5px;
}
#four a,
#four a:hover,
#four a:focus{
	text-decoration: none;
	transition:all 0.2s ease-in-out;
}
#four section img{
	height:180px;
	margin-bottom:0;
}
#four section p{
	padding: 10px;
	background: #fff;
	color: #999;
	font-size:12px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
#four section p b{
	font-size:14px;
}
.fourListP{
	height: 72px;
	overflow:hidden;
}
#four a p b{
	color: #555;
	transition:all 0.2s ease-in-out;
	height:39px;
	overflow:hidden;
}
#four a:hover p b,
#four a:focus p b{
	color: #428bca;
	transition:all 0.2s ease-in-out;
}