body{padding-top:0}
/*nav*/
img.logo {
    max-height: 50px;
}
.navbar-brand{
	padding:0 15px;
}
.navbar{margin-bottom:0}
/*jumbotron*/
.jumbotron{
	padding-top:51px;
	padding-bottom:0;
	height:280px;
	overflow:hidden;
}
.jumbotron .container,
.post-box{
	height:100%;
}