::-moz-selection{
	background:#7B1FA2;
	color:#fff
}
::selection{
	background:#7B1FA2;
	color:#fff
}
a{color:#7B1FA2}
.widget h5::before{color:#E1BEE7}
.form-control:focus{
	border-color:#E1BEE7;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #E1BEE7;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #E1BEE7;
}
/* Top Navigation Bar */
.navbar-mycolor .navbar-nav > li > a:hover,
.navbar-mycolor .navbar-nav > li > a:focus,
.navbar-mycolor .navbar-nav > .active > a,
.navbar-mycolor .navbar-nav > .active > a:hover,
.navbar-mycolor .navbar-nav > .active > a:focus,
.navbar-mycolor .navbar-nav > .open > a,
.navbar-mycolor .navbar-nav > .open > a:hover,
.navbar-mycolor .navbar-nav > .open > a:focus,
.navbar-mycolor .navbar-toggle,
.navbar-mycolor .navbar-toggle:hover,
.navbar-mycolor .navbar-toggle:focus,
.cat,
div.prism-show-language > div.prism-show-language-label[data-language],
#divFavorites li:hover,
#divLinkage li:hover,
#divCatalog li:hover,
#divTags li:hover,
#tbCalendar tbody a,
.single .article .section h1::before,
.single .article .section h4::before,
.single .article .section h6::before{
  background-color:#7B1FA2
}
.navbar-mycolor .navbar-toggle,
.navbar-mycolor .navbar-collapse,
.navbar-mycolor .navbar-form,
.index-pic .post-box .post-text h4::before,
.index .article .media-list h4 a::before,
.single .article .section>h2.title::before,
.single .article .section h2::before,
.single .article .section h3::before,
.single .article .section h5::before,
.single-search .section > p > a:first-child::before{
  border-color:#7B1FA2
}
@media (max-width: 767px) {
.navbar-mycolor .navbar-nav > li > a:hover,
.navbar-mycolor .navbar-nav > li > a:focus,
.navbar-mycolor .navbar-nav > .active > a,
.navbar-mycolor .navbar-nav > .active > a:hover,
.navbar-mycolor .navbar-nav > .active > a:focus{
  background:#7B1FA2
}
.navbar-mycolor .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-mycolor .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-mycolor .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #7B1FA2
}
}
.navbar-mycolor .btn-link[disabled]:hover,
fieldset[disabled] .navbar-mycolor .btn-link:hover,
.navbar-mycolor .btn-link[disabled]:focus,
fieldset[disabled] .navbar-mycolor .btn-link:focus,
.top a:hover,
.top a:focus,
.index .article .media-list h6 a:hover,
.single .article .section h1,
.single .article .section h2,
.single .article .section h3,
.single .article .section h4,
.single .article .section h5,
.single .article .section h6,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination > li > a,
.pagination > li > span{
	color:#7B1FA2
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
	border-color:#7B1FA2;
	background-color:#7B1FA2
}