/*for limiwu.com*/
.post-list{
	border-color: #000;
}
.cat{
	background-color:#428bca;
}
.top-box .cat{
	background-color:#c9302c;
}
.cat>a,
.cat>a:hover,
.cat>a:visited,
.cat>a:active{
	color: #fff;
}
.cat>a:hover{
	text-shadow: 0 -.05em .05em #335166;
}
.tim>a{
	color:#fff;
	text-shadow:1px 1px #666,-1px -1px #666,1px -1px #666,-1px 1px #666;
}
.tit{
	background-color: rgba(222,222,222,0.1);
}
.post-box:hover .tit{
	background-color: rgba(0,0,0,0.6);
}
.tit>p>a{
	color:#ddd;
}
.tit>hr{
	border-color:#ccc;
}
.tit>h3{
	background-color: rgba(0,0,0,0.5);
}
.post-box:hover .tit h3{
	background-color:transparent;
}
.tit>h3>a{
	color:rgb(240, 240, 240);
}
.post-box:hover .tit>h3>a{
	color:rgb(255, 255, 255);
}
.bottom{
	background-color:#428bca;
}
.bottom-div{
	color: #fff;
}
.bottom-a,
.bottom-a:hover,
.bottom-a:link,
.bottom-a:visited,
.bottom-a:active{
	color:rgb(251, 248, 0);
}
.footer{
	background:#212121; 
	color:#bdbdbd;
}
.footer a{
	color:#777;
}
.single-left h2,
.single-left h3,
.single-left h4,
.single-left h5,
.single-left h6{
	color:#428bca;
	border-color:#428bca;
}
.single-left h2:before{
border-radius:50%;
border: 3px solid #428bca;
}
.single-left h3:before{
border-radius:0 6px;
background:#428bca;
}
.single-left h4:before{
border-radius:6px 6px 0;
border: 2px solid #428bca;
}
.single-left h5:before{
border-radius:6px 0;
border: 2px solid #428bca;
}
.single-left h6:before{
border-radius:50%;
background:#428bca;
}
@media (max-width: 749px){
	#single,
	.single-left,
	.single-right{
		background-color:transparent;
		background-image:none;
		overflow:hidden;
	}
}
.flip{
	border-top: 1px dotted rgb(200, 200, 200);
	border-bottom: 1px dotted rgb(200, 200, 200);
}
.next-pre-text{
	color: #777;
}
.next-pre-text a{
	color: rgb(51, 51, 51)
}
.next-pre-text a:hover,
.next-pre-text a:focus{
	color: #23527c;
}
.more-text-box p{
	background-color: rgba(30,30,30,0.7);
}
.more-text-box p a,
.more-text-box p{
	color: #fff;
}
.more-text-box p.BMT-title a{
	border:5px solid rgba(255,255,255,0.7);
}
.comment-post{
	border-bottom:2px dotted rgb(200, 200, 200);
}
.comment-box img{
	border:1px solid rgb(200, 200, 200);
}
.media-heading b{
	color: #bbb;
}
#divFavorites li,
#divLinkage li,
#divCatalog li,
#divTags li{
	color: #666;
	background: #f5f5f5;
	border: 1px solid #eaeaea;
}
#divFavorites a,
#divLinkage a,
#divCatalog a,
#divTags a{
	color: #666;
}
#divFavorites li:hover,
#divLinkage li:hover,
#divCatalog li:hover,
#divTags li:hover{
	background-color:#8bc34a;
	color:#fff;
}
#divFavorites li:hover a,
#divLinkage li:hover a,
#divCatalog li:hover a,
#divTags li:hover a{
	color: rgb(245,245,245);
}
#divPrevious li:hover{
	border-color:#98699b;
}
#divPrevious li:hover p{
	background-color:#98699b;
	color: #fff;
}
/*导航条颜色*/
.navbar-mycolor .navbar-brand:hover,
.navbar-mycolor .navbar-brand:focus,
.navbar-mycolor .navbar-nav > li > a:hover,
.navbar-mycolor .navbar-nav > li > a:focus,
.navbar-mycolor .navbar-nav > .active > a,
.navbar-mycolor .navbar-nav > .active > a:hover,
.navbar-mycolor .navbar-nav > .active > a:focus,
.navbar-mycolor .navbar-nav > .open > a,
.navbar-mycolor .navbar-nav > .open > a:hover,
.navbar-mycolor .navbar-nav > .open > a:focus{
  color: #fff;
  background-color:#428bca;
}
.navbar-mycolor .navbar-nav > .disabled > a,
.navbar-mycolor .navbar-nav > .disabled > a:hover,
.navbar-mycolor .navbar-nav > .disabled > a:focus {
  color: #23527c;
  background-color: transparent;
}
.navbar-mycolor .navbar-toggle:hover,
.navbar-mycolor .navbar-toggle:focus {
  background-color: #23527c;
}
.navbar-mycolor .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-mycolor .navbar-toggle,
.navbar-mycolor .navbar-collapse,
.navbar-mycolor .navbar-form {
  border-color: #23527c;
border-color: transparent;
}
@media (max-width: 767px) {
.navbar-nav{
background:#428bca;
}
.navbar-mycolor .navbar-brand:hover,
.navbar-mycolor .navbar-brand:focus,
.navbar-mycolor .navbar-nav > li > a:hover,
.navbar-mycolor .navbar-nav > li > a:focus,
.navbar-mycolor .navbar-nav > .active > a,
.navbar-mycolor .navbar-nav > .active > a:hover,
.navbar-mycolor .navbar-nav > .active > a:focus {
  color: #fff;
  background:#23527c;
}
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-mycolor .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-mycolor .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-mycolor .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-mycolor .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #23527c;
    background-color: transparent;
  }
}
.navbar-mycolor .navbar-link,
.navbar-mycolor .navbar-link:hover,
.navbar-mycolor .btn-link,
.navbar-mycolor .btn-link:hover,
.navbar-mycolor .btn-link:focus {
  color: #fff;
}
.navbar-mycolor .btn-link[disabled]:hover,
fieldset[disabled] .navbar-mycolor .btn-link:hover,
.navbar-mycolor .btn-link[disabled]:focus,
fieldset[disabled] .navbar-mycolor .btn-link:focus {
  color: #23527c;
}
/*代码背景*/
pre[class*="language-"]{
background: #eee;
background-image: linear-gradient(#fff 50%,transparent 0);
background-size: auto 3em;
background-origin: content-box;
border-color: #b2ebf2;
text-shadow:none;
}
div.prism-show-language > div.prism-show-language-label[data-language]{
	color: #fff;
	background-color: #1976d2;
}