/*for limiwu.com*/
body,
#single,
.footer{
	background: 
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
	radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
	linear-gradient(90deg,#B2DFDB 11px,transparent 0),
    linear-gradient(90deg,#B3E5FC 23px,transparent 0),
    linear-gradient(90deg,#DCEDC8 41px,transparent 0);
	background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px,41px 100%, 61px 100%,83px 100%;
	background-color: #eee;
    color: #555;
}
.post-list{
	border-color: #000;
}
.post-box{
	background-color: #eee;
}
.cat{
	background-color: #428bca;
}
.top-box .cat{
	background-color: #c9302c;
}
.cat>a,
.cat>a:hover,
.cat>a:visited,
.cat>a:active{
	color: #fff;
}
.cat>a:hover{
	text-shadow: 0 -.05em .05em #335166;
}
.tim>a{
	color: #fff;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.tit{
	background-color: rgba(222,222,222,0.1);
}
.post-box:hover .tit{
	background-color: rgba(0,0,0,0.6);
}
.tit>p>a{
	color:#ddd;
}
.tit>hr{
	border-color:#ccc;
}
.tit>h3{
	background-color: rgba(0,0,0,0.5);
}
.post-box:hover .tit h3{
	background-color:transparent;
}
.tit>h3>a{
	color:rgb(240, 240, 240);
}
.post-box:hover .tit>h3>a{
	color:rgb(255, 255, 255);
}
.bottom{
	background-color:#428bca;
}
.bottom-div{
	color: #fff;
}
.bottom-a,
.bottom-a:hover,
.bottom-a:link,
.bottom-a:visited,
.bottom-a:active{
	color:rgb(251, 248, 0);
}
.footer a{
	color: #777;
}
@media (max-width: 749px){
	.footer h5{
		border-top: 1px dotted rgb(200, 200, 200);
	}
}
.single-left,
.list-left,
.widget{
	background-color: #fff;
	border:8px solid hsla(0,0%,100%,.2);
	background-clip: padding-box;
}
.single-left h3,
.single-left h4,
.single-left h5,
.single-left h6{
	color: #23527c;
	border-color:#23527c;
}
@media (max-width: 749px){
	#single,
	.single-left,
	.single-right{
		background-color:#f0f0f0;
		background-image:none;
	}
}
.single-left,
.list-left{
	color:rgb(51, 51, 51);
}
.Subtitle,
.time{
	color:rgb(119,119,119);
}
.time{
	border-bottom: 1px dotted #ddd;
}
@media (max-width: 749px){
	.time{
		border-bottom:none;
	}
}
.flip{
	border-top: 1px dotted rgb(200, 200, 200);
	border-bottom: 1px dotted rgb(200, 200, 200);
}
.next-pre-text{
	color: #777;
}
.next-pre-text a{
	color: rgb(51, 51, 51)
}
.next-pre-text a:hover,
.next-pre-text a:focus{
	color: #23527c;
}
.more-text-box p{
	background-color: rgba(30,30,30,0.7);
}
.more-text-box p a,
.more-text-box p{
	color: #fff;
}
.more-text-box p.BMT-title a{
	border:5px solid rgba(255,255,255,0.7);
}
.comment-post{
	border-bottom:2px dotted rgb(200, 200, 200);
}
.comment-box img{
	border:1px solid rgb(200, 200, 200);
}
.media-heading b{
	color: #bbb;
}
@media (min-width: 749px){
	.single-left,
	.list-left,
	.widget{
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		-o-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		-ms-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
		box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	}
}
.widget h5{
	color: #555;
	background-color:#e7e7e7;
	background-image: 
radial-gradient(circle at 100% 150%, #e7e7e7 24%, white 25%, white 28%, #e7e7e7 29%, #e7e7e7 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, #e7e7e7 24%, white 25%, white 28%, #e7e7e7 29%, #e7e7e7 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, #e7e7e7 11%, #e7e7e7 23%, white 24%, white 30%, #e7e7e7 31%, #e7e7e7 43%, white 44%, white 50%, #e7e7e7 51%, #e7e7e7 63%, white 64%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, #e7e7e7 6%, #e7e7e7 15%, white 16%, white 20%, #e7e7e7 21%, #e7e7e7 30%, white 31%, white 35%, #e7e7e7 36%, #e7e7e7 45%, white 46%, white 49%, transparent 50%, transparent),
radial-gradient(circle at 0    50%, white 5%, #e7e7e7 6%, #e7e7e7 15%, white 16%, white 20%, #e7e7e7 21%, #e7e7e7 30%, white 31%, white 35%, #e7e7e7 36%, #e7e7e7 45%, white 46%, white 49%, transparent 50%, transparent);
	background-size:100px 50px;
}
#tbCalendar td:hover,
#tbCalendar th:hover {
	background-color: #ddd;
}
#divFavorites li,
#divLinkage li,
#divCatalog li,
#divTags li{
	color: #666;
	background: #f5f5f5;
	border: 1px solid #eaeaea;
}
#divFavorites a,
#divLinkage a,
#divCatalog a,
#divTags a{
	color: #666;
}
#divFavorites li:hover,
#divLinkage li:hover,
#divCatalog li:hover,
#divTags li:hover{
	background-color:#98699b;
	color: rgb(245,245,245);
}
#divFavorites li:hover a,
#divLinkage li:hover a,
#divCatalog li:hover a,
#divTags li:hover a{
	color: rgb(245,245,245);
}
.list-left{
	color: #555;
}
.list-left h4 small{
	color: #98699b;
}
.list-left .media-body h6 a,
.list-left .media-body h6{
	color: #777;
}
.list-left .media-body h6 a:hover{
	color: #428bca;
}
.list-left>ul>li{
	border-bottom:1px dotted #ddd;
}
.list-left>ul>li:last-child{
	border-bottom:none;
}
.media-box:after{
	box-shadow:inset 0 0 0 0 transparent;
}
.media-box:hover:after{
	box-shadow:inset 0 0 0 6px rgba(255,255,255,0.3);
}
.media-box{
	border-color:#ccc;
}
.istop a{
	color: #555;
}
.istop a:hover{
	color:#98699b;
}
#divPrevious li a{
	color: #fff;
}
#divPrevious p{
	background-color: rgba(0, 0, 0,0.5);
}
.newsList{
	border: solid 1px #eee;
}
#divPrevious li:hover .newsList{
	border: solid 1px #98699b;
}
#divPrevious li:hover p{
	background-color:#98699b;
}
/*导航条颜色*/
.navbar-mycolor {
background:
linear-gradient(#23527c 3%,#428bca 0,#428bca 50%,transparent 0) 0 0, 
radial-gradient(circle closest-side, #428bca 53%, transparent 0) 0 0,
radial-gradient(circle closest-side, #428bca 50%, transparent 0) 20px 0 transparent;
background-size:40px 77px;
background-repeat: repeat-x;
border-color: transparent;
}
.navbar-mycolor .navbar-brand,
.navbar-mycolor .navbar-text,
.navbar-mycolor .navbar-nav > li > a {
  color: #fff;
}
.navbar-mycolor .navbar-brand:hover,
.navbar-mycolor .navbar-brand:focus,
.navbar-mycolor .navbar-nav > li > a:hover,
.navbar-mycolor .navbar-nav > li > a:focus,
.navbar-mycolor .navbar-nav > .active > a,
.navbar-mycolor .navbar-nav > .active > a:hover,
.navbar-mycolor .navbar-nav > .active > a:focus {
  color: #fff;
  background:linear-gradient(#23527c 35px,transparent 100%);
}
.navbar-mycolor .navbar-nav > .disabled > a,
.navbar-mycolor .navbar-nav > .disabled > a:hover,
.navbar-mycolor .navbar-nav > .disabled > a:focus {
  color: #23527c;
  background-color: transparent;
}
.navbar-mycolor .navbar-toggle:hover,
.navbar-mycolor .navbar-toggle:focus {
  background-color: #23527c;
}
.navbar-mycolor .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-mycolor .navbar-toggle,
.navbar-mycolor .navbar-collapse,
.navbar-mycolor .navbar-form {
  border-color: #23527c;
border-color: transparent;
}
.navbar-mycolor .navbar-nav > .open > a,
.navbar-mycolor .navbar-nav > .open > a:hover,
.navbar-mycolor .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
.navbar-nav{
background:#428bca;
}
.navbar-mycolor .navbar-brand:hover,
.navbar-mycolor .navbar-brand:focus,
.navbar-mycolor .navbar-nav > li > a:hover,
.navbar-mycolor .navbar-nav > li > a:focus,
.navbar-mycolor .navbar-nav > .active > a,
.navbar-mycolor .navbar-nav > .active > a:hover,
.navbar-mycolor .navbar-nav > .active > a:focus {
  color: #fff;
  background:#23527c;
}
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-mycolor .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-mycolor .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-mycolor .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-mycolor .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-mycolor .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #23527c;
    background-color: transparent;
  }
}
.navbar-mycolor .navbar-link,
.navbar-mycolor .navbar-link:hover,
.navbar-mycolor .btn-link,
.navbar-mycolor .btn-link:hover,
.navbar-mycolor .btn-link:focus {
  color: #fff;
}
.navbar-mycolor .btn-link[disabled]:hover,
fieldset[disabled] .navbar-mycolor .btn-link:hover,
.navbar-mycolor .btn-link[disabled]:focus,
fieldset[disabled] .navbar-mycolor .btn-link:focus {
  color: #23527c;
}
/*代码背景*/
pre[class*="language-"]{
background: #fff9c4;
background-image: linear-gradient(#b3e5fc 50%,#fff9c4 0);
background-size: auto 3em;
background-origin: content-box;
border-color: #b2ebf2;
}
div.prism-show-language > div.prism-show-language-label[data-language]{
	color: #fff;
	background-color: #1976d2;
}