.post-box,
.widget,
.single-left,
.list-left{
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	border:8px solid hsla(0,0%,100%,.2);
	background-clip:padding-box;
}
.more-text-box{
	border-color:rgba(255,255,255,.2);
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-o-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-ms-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	background-clip:padding-box;
}