body{
	background-color:#f8f8f8;
	font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
img.logo{
	max-height:50px;
}
.navbar-brand{
	padding:0;
	margin-left:10px;
	margin-right:20px;
}
.navbar{
	border:none;
	margin-bottom:0;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav >li>a:focus{
	background-color:#e7e7e7;
}
.navbar-mycolor .navbar-brand:hover,
.navbar-mycolor .navbar-brand:focus,
.navbar-mycolor .navbar-nav > li > a:hover,
.navbar-mycolor .navbar-nav > li > a:focus,
.navbar-mycolor .navbar-nav > .active > a,
.navbar-mycolor .navbar-nav > .active > a:hover,
.navbar-mycolor .navbar-nav > .active > a:focus,
.navbar-mycolor .navbar-nav > .open > a,
.navbar-mycolor .navbar-nav > .open > a:hover,
.navbar-mycolor .navbar-nav > .open > a:focus{
  color: #fff;
  background-color:#428bca;
}
/*顶部搜索栏*/
.search-box{
	background:transparent;
	border:none;
	box-shadow:none;
}
.search-box .input-group{
	min-width:300px;
}
.shade{
	position: absolute;
	z-index:5;
	margin-top:0;
	width:100%;
	height:30px;
	background:#f8f8f8;
	border-radius:50% / 0 0 100% 100%;
	box-shadow: 0 2px 5px -3px #757575;
}
.jumbotron{
	margin-bottom:0;
	min-height:350px;
	background-position:center;
	background-repeat:no-repeat; 
	box-shadow: 0 -20px 40px -20px #555 inset;
	border-bottom: 1px solid #757575;
}
/*内容*/
.contentbox{
	margin-top: -24px;
	margin-bottom:20px;
	padding-top:20px;
	padding-bottom:10px;
	background: #fff;
	background: linear-gradient(#eee 4%,#fff 12%,#fff 70%,#f0f0f0 100%);
	box-shadow: 0 0 0 1px #ddd,0 0 0 6px hsla(0,0%,100%,.2);
	background-clip:padding-box;
	min-height: calc(100vh - 430px);
}
.tab-content{
	padding:15px 5px;
}
.nav>li>a{
	padding:5px 8px;
}
.blue>li.active>a,
.blue>li.active>a:hover,
.blue>li.active>a:focus{
	color:#fff;
	background-color: #2196f3;
	border:1px solid #1976d2;
	border-bottom-color:transparent;
}
.green>li.active>a,
.green>li.active>a:hover,
.green>li.active>a:focus{
	color:#fff;
	background-color:#8bc34a;
	border:1px solid #689f38;
	border-bottom-color:transparent;
}
.green>li>a{color:#689f38}
.nav-tabs>li.more,
.nav-tabs>li.floatright{float:right}
.nav-tabs>li.more:hover a{background:transparent;border-color:transparent;}
.Avatar{
	max-width:60px;
	border-radius:50%;
	transition:all 0.2s ease-in-out;
	border: 1px solid #757575;
	padding: 2px;
}
.Avatar:hover{
	transition:all 0.2s ease-in-out;
	transform:rotate(-35deg);
}
.media-heading{
	font-weight:600;
}
#blog .media-body p{color:#555}
#tags ul,
#tags ul li,
#tags ul ul li,
#tags a{
	list-style: none;
	display: inline-block;
}
#tags ul{padding-left:0}
#tags a:hover{
	text-decoration:none;
	background-color:#8bc34a;
	color:#fff;
}
#tags a{
	margin:0 3px 3px 0;
	padding:1px 10px 3px;
	background:#f5f5f5;
	color:#666;
	border: 1px solid #eaeaea;
}
#tags a span{font-size:10px}
/*首页文章列表*/
.homelist{
	list-style:none;
	padding-left:0;
}
.homelist li span{
	float:right;
	display:block;
	color:#757575;
}
.homelist li a{
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-left:2px;
	padding-bottom:2px;
	border-bottom:1px dashed #ddd;
}
.homelist li a:hover,
.homelist li a:focus{
	text-decoration:none;
}
.homelist li a::before{
	position:relative;
	margin-bottom:4px;
	margin-right:6px;
	content: '';
	width:8px;
	height:8px;
	display:inline-block;
	border-radius:50% 50% 0;
	border:1px solid #428bca;
	box-shadow:0 1px 2px #757575;
}
#work{
	border:1px solid #ddd;
	box-shadow:0 4px 4px -4px #757575;
}
.carousel-control.right,
.carousel-control.left{
	background:transparent;
}
/*友情链接*/
.linkbox{
	padding-top:5px;
	padding-bottom:5px;
	color:#555;
	background:#f3f3f3;
	border-top:1px solid #ddd;
}
.linkbox a{color:#555}
.icon-link{padding:5px;border-radius:50%}
.icon-link:hover,.icon-link:focus{
	background: #555;
	color:#f3f3f3;
	transition:all 0.2s ease-in-out;
}
.footer{
	text-align:center;
	background:#212121;
	color:#bdbdbd;
	padding:20px 5px;
	border-top:1px solid #757575;
	box-shadow:0 6px 9px #000 inset;
}
.footer p{margin-bottom:5px}
.footer a{color:#777}

@media (max-width:767px){
	.jumbotron{min-height:200px}
	.shade{
		height:10px;
	}
	.col-sm-4,
	.col-sm-10,
	.col-sm-2{
		padding-left:0px;
		padding-right:0px;
	}
	.footer{box-shadow:none}
}