body{
	background-color:#f2f5f8;
	font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
img.logo{
	max-height:50px;
}
.navbar-brand{
	padding:0;
	margin-left:10px;
	margin-right:20px;
}
.navbar{
	border:none;
	margin-bottom:0;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav >li>a:focus{
	background-color:#e7e7e7;
}
/*顶部搜索栏*/
.search-box{
	background:transparent;
	border:none;
	box-shadow:none;
}
.search-box .input-group{
	min-width:300px;
}
.shade{
	position: absolute;
	z-index:5;
	margin-top:0;
	width:100vw;
	height:40px;
	background:#f8f8f8;
	border-radius:50% / 0 0 100% 100%;
	box-shadow: 0 2px 5px -3px #757575;
}
.jumbotron{
	margin-bottom:0;
	min-height:350px;
	background-image:url(1.jpg);
	background-position:center;
	background-repeat:no-repeat; 
	box-shadow: 0 -20px 40px -20px #555 inset;
	border-bottom: 1px solid #757575;
}
/*内容*/
.contentbox{
	margin-top: -24px;
	padding-top:20px;
	padding-bottom:10px;
	background:#fff;
	border:6px solid hsla(0,0%,100%,.2);
	background-clip:padding-box;
}
.tab-content{
	padding:15px 5px;
}
.nav>li>a{
	padding:5px 8px;
}
.blue>li.active>a,
.blue>li.active>a:hover,
.blue>li.active>a:focus{
	color:#fff;
	background-color: #2196f3;
	border:1px solid #1976d2;
	border-bottom-color:transparent;
}
.green>li.active>a,
.green>li.active>a:hover,
.green>li.active>a:focus{
	color:#fff;
	background-color:#8bc34a;
	border:1px solid #689f38;
	border-bottom-color:transparent;
}
.green>li>a{color:#689f38}
.yellow>li.active>a,
.yellow>li.active>a:hover,
.yellow>li.active>a:focus{
	color:#fff;
	background-color:#ffc107;
	border:1px solid #f57c00;
	border-bottom-color:transparent;
}
.yellow>li>a{color:#f57c00}
.nav-tabs>li.more{float:right}
.nav-tabs>li.more:hover a{background:transparent;border-color:transparent;}
.Avatar{
	max-width:60px;
	border-radius:50%;
	transition:all 0.2s ease-in-out;
	border: 1px solid #757575;
	padding: 2px;
}
.Avatar:hover{
	transition:all 0.2s ease-in-out;
	transform:rotate(-35deg);
}
.media-heading{
	font-weight:600;
}
#blog .media-body p{color:#555}
#tags ul,
#tags ul li,
#tags ul ul li,
#tags a{
	list-style: none;
	display: inline-block;
}
#tags ul{padding-left:0}
#tags a:hover{
	text-decoration:none;
	background-color:#8bc34a;
	color:#fff;
}
#tags a{
	margin:0 3px 3px 0;
	padding:1px 10px 3px;
	background:#f5f5f5;
	color:#666;
	border: 1px solid #eaeaea;
}
#tags a span{font-size:10px}
/*首页文章列表*/
.homelist{
	list-style:none;
	padding-left:0;
}
.homelist li span{
	float:right;
	display:block;
	color:#757575;
}
.homelist li a{
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	margin-left:2px;
}
.homelist li a:hover,
.homelist li a:focus{
	text-decoration:none;
}
.homelist li a::before{
	position:relative;
	margin-bottom:4px;
	margin-right:6px;
	content: '';
	width:8px;
	height:8px;
	display:inline-block;
	border-radius:50% 50% 0;
	border:1px solid #428bca;
	box-shadow:0 1px 2px #757575;
}
#work{
	border:1px solid #ddd;
	box-shadow:0 4px 4px -4px #757575;
}
.carousel-control.right,
.carousel-control.left{
	background:transparent;
}