body{
	padding-top:70px;
	font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#ecf0f1;
    color:#555;
}
.cat>a:hover,
.tit>p>a:hover,
.tit>h3>a:hover,
.tim>a,
.list-left a{
	text-decoration: none;
}
.tit>hr{
	border-top:2px dotted transparent;
}
.post-box,
.post-box:hover,
.post-box .tim,
.post-box:hover .tim,
.tit p,
.tit p:hover,
.tit hr,
.tit hr:hover,
.post-box .tit,
.post-box:hover .tit,
.post-box .tit h3,
.post-box:hover .tit h3,
.post-box .tit>h3>a,
.post-box:hover .tit>h3>a,
.top:hover{
	-webkit-transition: all .8s;
	-moz-transition: all .8s;
	-ms-transition: all .8s;
	-o-transition: all .8s;
	transition: all .8s;
}
.body{
	padding-bottom: 20px;
}
.post-list,
.left-list{
	padding:.3em;
}
.single-left,
.list-left,
.widget{
	background:#fff;
}
.media-box{
	position: relative;
	height:120px;
	width:190px;
	border-radius:16px 0;
	overflow:hidden;
	box-shadow: 0px 1px 3px rgba(66,139,202,.65);
}
.media-box>a>img,
.more-text-box>a>img,
.carousel-inner > .item > a > img.topIMG{
	width:100%;
	height:100%;
	object-fit:cover;
}
.media-box:hover>a>img{
	opacity:.7;
}
.media-box>a>img,
.media-box:hover>a>img,
#divPrevious li,
#divPrevious li:hover,
#divPrevious li p,
#divPrevious li:hover p,
.threepic img,
.threepic img:hover{
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.post-nopic{
	padding: 2px 9px 0px;
}
.post-nopic>h4{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.cat{
	position:absolute;
	top:0;
	right:0;
	padding:2px 5px;
	overflow: hidden;
	text-transform: uppercase;
	max-width: 208px;
	max-height: 24px;
}
.tim{
	position: absolute;
	top: 22px;
	right: 2px;
	font-size: 28px;
	font-weight: bold;
	line-height:30px;
	padding: 5px;
	text-align: right;
	text-transform: uppercase;
}
.post-box{
	background:#fff;
	overflow:hidden;
}
@media (min-width:599px){
	.post-box{
		height:240px;
	}
}
.post-box .tim{
	filter:alpha(Opacity=0);
	-moz-opacity:0;
	opacity: 0;
}
.post-box:hover .tim{
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}
.tit{
	padding:130px 0px 5px;
	height: 240px;
}
.tit hr{
	margin:5px 10px;
	padding: 0px;
}
.tit>p{
	margin: 0;
	padding-left:10px;
	padding-right:10px;
	height: 34px;
	line-height: 18px;
	overflow: hidden;
	text-indent: 2em;
}
.tit p,
.tit hr{
	filter:alpha(Opacity=0);
	-moz-opacity:0;
	opacity: 0;
}
.post-box:hover .tit p,
.post-box:hover .tit hr{
	filter:alpha(Opacity=100);
	-moz-opacity:1;
	opacity: 1;
}
.tit>h3{
	font-size:18px;
	margin-top:5px;
	padding-left:10px;
	padding-right:10px;
	overflow:hidden;
	height:60px;
	line-height:24px;
	text-align:right;
}
.top-box{
	height:240px;
	background:#fff;
	overflow:hidden;
}
.top-box .tit>h3{
	text-align:left;
	padding-left:30px;
	padding-right:30px;
	padding-top:5px;
}
.bottom>div{
	padding-top: 18px;
	padding-bottom: 12px;
}
.bottom-div p{
	font-size: 2.5rem;
}
@media (max-width: 749px) {
	.bottom-div p{
		font-size:16px;
		text-align: center;
	}
	.bottom>div{
	padding-top: 10px;
	padding-bottom: 12px;
	}
}
.bottom-a{
	margin-left:.2em;
	margin-right:.2em;
}
.bdsharebuttonbox{
	max-width: 304px;
	margin: 0px auto;
}
.weixin-share-p{
	margin-top: 10px;
}
.bottom-div .btn{
	width: 33.333333%;
}
.footer{
	padding-top:5px;
	padding-bottom:5px;
	line-height:1;
	text-align:center;
}
@media (min-width: 749px){
	.footer{
		padding-top: 15px;
		padding-bottom: 15px;
		min-height:9em;
	}
}
/*single*/
.search-box{
	margin-top: 15px;
}
.breadcrumb{
	margin: 0px;
	padding: 2px 0px;
}
.single .breadcrumb{
	background:transparent;
}
.single-body{
	margin-bottom: 10px;
}
.single-body>.col-md-7,
.single-body>.col-md-9{
	padding-right: 5px;
	padding-left: 5px;
}
.single-body>.col-md-9>div>div{
	padding-right:0;
	padding-left:0;
}
.single-nav{
	margin-bottom: 5px;
}
.single-box{
	padding: 5px;
}
.three-right-box{
	padding: 0px 5px;
}
.single-left{
	padding:20px 50px;
}
.list-left{
	padding:20px;
}
@media (max-width: 749px){
	.single-box{
		padding:0;
	}
	.single-left,
	.list-left{
		padding:10px;
	}
}
.single-left>h1{
	font-size: 24px;
	font-weight:bolder;
}
.single-left h2,
.single-left h3,
.single-left h4,
.single-left h5,
.single-left h6{
	line-height: 1.5em;
	font-weight: 800;
	border-bottom:1px solid;
	font-size: 18px;
}
.single-right .widget h5:before,
.single-left h2:before,
.single-left h3:before,
.single-left h4:before,
.single-left h5:before,
.single-left h6:before{
	content: '';
	width:14px;
	height:14px;
	display: inline-block;
	margin-right:6px;
	position: relative;
}
.single-right .widget h5:before{
	width:12px;
	height:12px;
}
.Subtitle{
	margin-top:-5px;
	margin-bottom: 20px;
	font-size: 14px;
}

@media (max-width: 749px){
	.single-left>h1{
	font-size: 20px;
	font-weight: 500;
	margin: 0 0 10px 0;
	}
}
.time{
	padding-bottom:1em;
	margin-bottom:1em;
	font-size:14px;
}
.single-left,
blockquote{
	font-size: 16px;
}

.single-left ul p,
.single-left ol p{
	margin: 0;
}
.single-left img,
.list-left .media-body img{
	max-width: 100%;
	height: auto;
}
.flip{
	padding:10px auto;
	margin:30px auto;
}
p.pre-text{
	margin:50px 0 0 0;
}
p.next-text{
	margin:0px;
}
.next-pre-text a:hover,
.next-pre-text a:focus,
.more-text-box p a:hover,
.more-text-box p a:focus,
.istop p a:hover,
.istop p a:focus,
.post-nopic a:hover,
.post-nopic a:focus{
	text-decoration: none;
}
.more-share{
	margin-top: 15px;
	margin-bottom: 15px;
}
.more-text-box{
	position:relative;
	padding:0;
	height:160px;
	border:5px solid transparent;
	overflow:hidden;
}
.more-text{
	margin-bottom:15px;
	margin-left: -5px;
	margin-right: -5px;
	padding:0px;
}
@media (max-width: 749px){
	.more-text{
		margin-left:3px;
		margin-right:3px;
	}
}
.more-text-box p.more-text-title{
	position:absolute;
	margin-bottom:0;
	bottom:0;
	height:1.5em;
	width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.more-text-box p.more-text-title a{
	margin-left:10px;
	margin-right:10px; 
}
.more-text-box p.BMT-title{
	position:absolute;
	top:0;right:0;bottom:0;left:0; 
	width:100%;
	height:100%;
	font-size:16px;
	text-align: center;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
@media (max-width: 749px){
	.more-text-box p.BMT-title{
		margin-top: -160px;
	}
}
.more-text-box p.BMT-title a{
	padding:10px;
	margin-top:80px;
}
@media (min-width: 749px){
	.more-text-box p.BMT-title{
		padding-top:44px;
	}
	.more-text-box:hover p.more-text-title{
		opacity: 0;
	}
	.more-text-box:hover p.BMT-title{
		animation:p_come .3s ease-out;
		animation-fill-mode:forwards;
	}
	@keyframes p_come{
		0%{margin-top:-240px;}
		100%{margin-top:0px;}
	}
	.more-text-box p.BMT-title{
		animation:p_out .3s ease-out;
		animation-fill-mode:forwards;
	}
	@keyframes p_out{
		0%{margin-top:0px;}
		100%{margin-top:-240px;}
	}
}
.comment-post{
	margin-top: 30px;
}
.comment-box{
	margin-top: 10px;
}
.comment-post>h4,
.comment-box>h4{
	padding-left:35px;
	margin-bottom: 20px;
	font-weight: bold;
}
.comment-box img{
	width: 64px;
	height: auto;
	border-radius:50%;
	padding:2px;
}
.comment-box a:hover img{
	transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	-moz-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
}
.comment-box a img,
.comment-box a:hover img,
.weiyu a img,
.weiyu:hover a img{
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.comments{
	padding:0px 35px;
}
.media-heading{
	font-weight: bold;
}
.media-heading b{
	font-size:12px;
	font-weight:300;
}
#index-list .media-list {
    margin-top: 18px;
}
@media (max-width: 749px){
	.comment-post>h4,
	.comment-box>h4{
		padding-left:2px;
	}
	.comments{
		padding:0px 2px;
	}
	.media-heading b{
		display: none;
	}
	.comment-box img{
		width:40px;
	}
	.media-heading{
		font-size: 15px;
		margin-bottom: 0px;
	}
	.comment-box,
	.comment-post{
		padding-left:10px;
		padding-right:10px;
	}
}
/*.single-right*/
.widget{
	margin-bottom:.6em;
	border:8px solid #fff;
	overflow:hidden;
}
.widget h5{
	margin: 0px;
	padding:5px 10px 8px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	font-size:16px;
}
.widget>div{
	padding:2px;
	overflow:hidden;
}
#tbCalendar{
	margin: 0 auto;
}
#tbCalendar td,
#tbCalendar th {
	padding: 5px;
	text-align: center
}
#tbCalendar caption {
	padding: 6px 0;
	text-align: center
}
#divFavorites div,
#divFavorites ul,
#divLinkage div,
#divLinkage ul,
#divCatalog div,
#divCatalog ul,
#divMisc div,
#divMisc ul,
#divTags div,
#divTags ul,
#divPrevious div,
#divPrevious ul{
	list-style: none;
	display: inline-block;
}
#divFavorites ul,
#divLinkage ul,
#divCatalog ul,
#divMisc ul,
#divTags ul{
	margin-left:-40px;
	margin-bottom:0px;
}
#divFavorites li,
#divLinkage li,
#divCatalog li,
#divTags li{
	margin: 0 3px 3px 0;
	padding: 1px 10px 3px;
	display: inline-block;
	-moz-border-radius: 1px;
	-khtml-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}
#divMisc li{
	display: inline-block;
	padding: 3px;
}
#divFavorites li a:hover,
#divLinkage li a:hover,
#divCatalog li a:hover,
#divMisc li a:hover,
#divTags li a:hover,
#divPrevious li a:hover{
	text-decoration: none;
}
#divComments ul,
#divArchives ul,
#divPrevious ul{
	margin-left:-40px;
}
#divComments li,
#divPrevious li{
	margin-bottom: 10px;
	list-style-type: none;
}
#divPrevious li{
	border: 1px solid white;
}
#divPrevious li img{
	width:100%;
	max-height:160px;
	object-fit:cover;
}
#divPrevious li p{
	margin-bottom:0;
}
#divArchives li{
	width: 49%;
	display: inline-block;
	text-align: center;
	list-style-type: none;
}
.img-comment {
	width: 40px;
	height: 40px;
	float: left;
	margin-right:10px;
	border-radius:10%;
}
.tag-count{
	font-size: 10px;
}
.list-left .media-left{
	padding-right:20px;
}
@media (max-width: 749px){
	.list-left .media-left{
		display:block;
		width: 100%;
		padding-right:0px;
	}
	.media-box{
		width: 100%;
	}
}
.list-left .media-body hr{
	margin-bottom:5px;
	margin-top:5px;
}
.list-left .media{
	overflow:visible;
}
.media small{
	margin-left: .5em;
}
.list-left h4{
	font-weight: bold;
	line-height: 1.5;
}
@media (min-width: 479px){
	.list-left h4{
		margin-top:0px;
		margin-bottom:20px;
		font-size: 24px;
	}
}
.list-left a,
.list-left a:hover,
.post-nopic a,
.post-nopic a:hover{
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.list-left h6 a,
.list-left h6 span{
	padding-left: .2em;
	padding-right: .2em;
}
@media (min-width: 749px){
	.list-left h6{
		text-align: right;
	}
	.list-left>ul>li{
		margin-top:32px;
		padding-bottom:30px;
	}
}
#index-list .post-box,
#index-three .post-box{
	margin-bottom:10px;
}
#index-list pre,
#index-three pre{
	white-space: pre-wrap;
	word-wrap: break-word;
}
.istop{
	margin-top:.8em;
}
.istop p a{
	font-weight: 700;
}
.istop span{
	margin-left:10px;
	margin-right:5px;
}
.istop b{
	float: right;
	margin-right: 10px;
}
.singleAD{
	overflow: hidden;
}
.singleAD>div>iframe{
	display: block;
	margin-right:auto !important;
	margin-left:auto !important;
}
.carousel-control.right,
.carousel-control.left{
	background-image:none !important;
}
#single-noside>.container>.row>.hidden-sm{
	display: none;
}
@media (min-width: 992px){
	#single-noside .single-left p,
	#single-noside .single-left h1,
	#single-noside .single-left div{
		margin-left: 12.5%;
		width: 75%;
	}
}
.singleLogo{
	margin-left: 20px;
}
.blockquote{
	font-size:14px;
}
.top{
  position: fixed;
  display: inline-block;
  right:.1em;
  bottom:.1em;
  font-size:2em;
  padding:.1em .45em;
  background:#DCEDC8;
  border-radius:.2em;
  box-shadow:0 0 .2em #8BC34A;
  z-index:50;
}
.top:hover,
.top:focus{
  box-shadow:none;
}
.weiyu .media-body p{
	margin:0;
	font-size:12px;
	color:#777;
}
.weiyu .media-body p a{
	color:#777;
}
.weiyu .media-left{
	padding-right:10px;
}
.weiyu .media-left img{
	border-radius:50%;
	width:50px;
}
.weiyu .media-body{
	padding: .8em;
	border: 1px solid #dedede;
	border-radius: 0 16px 16px 16px;
	box-shadow: 0 6px 4px -4px #777;
	background: #f1f1f1;
}
.weiyu .media-body h5{
	line-height:1.5;
}
@media (max-width: 749px){
	.weiyu{
		padding-bottom:20px;
	}
	.weiyu .media-body h5{
		margin-bottom:.8em;
	}
}
.weiyu:hover a img{
	transform:rotate(-30deg);
}
.two_logo{
	border-radius: 0 32px;
	margin: 10px auto 2px;
	border: 1px solid rgba(240,240,240,.8);
	box-shadow: 0px 5px 5px -5px #000;
	background: #f1f1f1;
	padding: 2%;
}
.threepic .row a{
	padding-left:3px;
	padding-right:3px;
}
.threepic img{
	width:100%;
	height:80px;
	object-fit:cover;
}
.threepic .row{
	margin:auto 0 16px;
}
@media (min-width: 499px){
	.threepic img:hover{
		border-radius:40px 0;
	}
	.threepic img{
		height:140px;
		box-shadow: 0px 1px 3px rgba(66,139,202,.65);
	}
}
.videobox{
	margin-top:-70px;
	margin-bottom:5px;
	padding-top:70px;
	height:100vmin;
	background:transparent;
}
.video{
	margin:0 auto;
	max-width:900px;
	height:80vmin;
	box-shadow:0px 6px 4px -4px rgba(0,0,0,.5);
}
.videolist{
	padding-bottom:10px;
}
.videolist .media-body{
	min-width:70%;
	overflow:auto;
}
.videoIMG{
	border-radius:0 20px;
	box-shadow: 0px 1px 3px rgba(66,139,202,.65);
	width:100%;
}
.videolist .media-right>div{
	position:relative;
}
.mask{
	opacity:0;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow:hidden;
	transition: all .4s ease-in-out 0s;
	z-index: 10;
	text-align:center;
	color:#fff;
	font-size:28px;
	background-color:rgba(0,0,0,0.7);
	box-sizing: border-box;
	border-radius:0 20px;
	padding-top:30%;
}
.mask:hover{
	opacity:1;
	transition: all .4s ease-in-out 0s;
}
.mask::before{
	border: 3px solid #fff;
	padding: 4px 8px;
	border-radius: 50%;
}
@media (max-width: 749px){
	.videolist .media-right>div{
		width:150px;
	}
	.videoIMG{
		width:100%;
		height:auto;
	}
	.videolist h4{
		margin-top:0;
	}
}